<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sugadev.noteit">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:roundIcon="${APP_ICON_ROUND}"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteIt"
        android:name="com.sugadev.noteit.base.NoteApplication"
        tools:targetApi="31">

        <service
            android:name="com.sugadev.noteit.base.service.ChatHeadService"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:label="${APP_NAME}"
            android:launchMode="singleTop"
            android:theme="@style/Theme.NoteIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>